map $http_upgrade $connection_upgrade {
    default upgrade;
    ""      close;
}

map $http_x_forwarded_proto $proxy_x_forwarded_proto {
    default $http_x_forwarded_proto;
    ""      $scheme;
}

map $http_x_forwarded_port $proxy_x_forwarded_port {
    default $http_x_forwarded_port;
    ""      $server_port;
}

upstream host {
    server ${HOST:-backend};
}

server {    
    listen 80 default_server;
    listen [::]:80 default_server;
    server_tokens off;

    include proxy_params;

    error_log /dev/stderr error;
    access_log /dev/stdout;
    
    location ~ ^/?${PATH_PREFIX}(/?)(.*) {
        proxy_pass ${PROTOCOL:-http}://host/$2$is_args$args;
    }
}